
@media only screen and (max-width: 600px) {
#Technicals_page{
    padding-top: 100px;
    padding-left: 0%;
    padding-right: 0%;
    margin:0;
}
}
  

@media only screen and (max-width: 6000px) {
#Technicals_page{
    padding-top: 100px;
    padding-right: 11%;
    padding-left: 11%;
}
}


.my-custom-scrollbar {
  margin-top: 4px;
  position: relative;
  height: 700px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }


.table{
  overflow-x: auto;
  font-size: small;
}

.form{
  padding-right: 15px;
}




@font-face{
  src: url(fonts/Roboto-Light.ttf);
  font-family: Roboto;
}


html *
{
   font-family: Roboto !important;
}

h2 {
  color:rgba(0, 132, 255, 0.952) !important;
  font-family: Roboto;
} 