#infraHealth_page{
    padding-top: 100px;
    padding-right: 260px;
    padding-left: 260px;
  }



.dotGreen {
  height: 25px;
  width: 25px;
  background-color: rgb(21, 255, 0);
  border-radius: 50%;
  display: inline-block;
}



.dotRed {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

h2 {
  color:rgba(0, 163, 212, 0.952) !important;
  font-family: Arial;
  font-weight: bold;
} 