* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:sans-serif;
}

#sidebar {
  position: fixed;
  /* top: 57px; */
  bottom: 0px;
  left: -200px;
  width: 200px;
  height: calc(100% - 58px);
  background: #000000;
  opacity: 0.95;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  list-style: none;
}
#sidebar.active {
  left:0px;
}
#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}
#sidebar .toggle-btn span {
  display:block;
  width:20px;
  height: 2px;
  background:#151719;
  margin:5px 0px;
  cursor:pointer;
}


#sidebar div.list div.item a{
  display: block;
  padding:15px 10px;
  color:#ffffff;
  text-transform:uppercase;
  font-size:11px;
  text-decoration: none;
  
}

#sidebar div.list div.item:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

a { color: #ffffff; 
  text-decoration: none;
} 

@font-face{
  src: url(fonts/Roboto-Regular.ttf);
  font-family: Roboto;
}


html *
{
   font-family: Roboto !important;
}