.col-sm {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }



  @font-face{
    src: url(fonts/Roboto-Light.ttf);
    font-family: Roboto;
  }
  

html *
{
   font-family: Roboto !important;
}
  
  h2 {
    color:rgba(0, 132, 255, 0.952) !important;
    font-family: Roboto;
  } 