
@media only screen and (max-width: 600px) {
    #ownership_page{
      padding-top: 100px;
      padding-left: 0%;
      padding-right: 0%;
      margin:0;
    }
  }
  
  
  @media only screen and (max-width: 6000px) {
    #ownership_page{
      padding-top: 100px;
      padding-right: 11%;
      padding-left: 11%;
    }
  }
  
  
  @font-face{
    src: url(fonts/Roboto-Light.ttf);
    font-family: Roboto;
  }
  
  
  h3 {
    color:rgba(0, 132, 255, 0.952) !important;
    font-family: Roboto;
  } 


