#investInfra_page{
    padding-top: 100px;
    padding-right: 260px;
    padding-left: 260px;
  }

h2 {
    color:rgba(0, 163, 212, 0.952);
    font-family: Arial;
    font-weight: bold;
} 

.DBs {
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
}