

@media only screen and (max-width: 600px) {
  #Charts_page{
    padding-top: 100px;
    padding-left: 0%;
    padding-right: 0%;
    margin:0%;
  }
}


@media only screen and (max-width: 6000px) {
  #Charts_page{
    padding-top: 100px;
    padding-right: 11%;
    padding-left: 11%;
  }
}

h2 {
  color:rgba(0, 163, 212, 0.952) !important;
  font-family: Arial !important;
  font-weight: bold !important;
} 