

body {
  background: #333;
  color: #fff;
}

.navbar {
    border-bottom:aqua 2px solid;
    opacity: 0.8;
  }

.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top li a{
    color: white !important;
}


.col-sm {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

#home-section{
  padding-top: 150px;
}