
  @media only screen and (max-width: 600px) {
    #investInfra_page{
      padding-top: 100px;
      padding-left: 0%;
      padding-right: 0%;
    }
  }
  
  
  @media only screen and (max-width: 6000px) {
    #investInfra_page{
      padding-top: 100px;
      padding-right: 11%;
      padding-left: 11%;
    }
  }
  

h2 {
  color:rgba(17, 0, 255, 0.952) !important;
  font-family: Arial;
  font-weight: bold;
} 

.DBs {
  text-align: center;
}

hr.solid {
  border-top: 3px solid rgb(0, 0, 0);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}