#Charts_page{
    padding-top: 100px;
    padding-right: 210px;
    padding-left: 210px;
  }


  h2 {
    color:rgba(0, 0, 255, 0.89) !important;
    font-family: Arial !important;
    font-weight: bold !important;
  } 