#Table_page{
    padding-top: 100px;
    padding-right: 210px;
    padding-left: 210px;
  }


.my-custom-scrollbar {
  margin-top: 4px;
  position: relative;
  height: 700px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }


.table{
  overflow-x: auto;
  font-size: small;
}