* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

#sidebar {
  position: fixed;
  /* top: 57px; */
  bottom: 0px;
  left: -200px;
  width: 200px;
  height: calc(100% - 58px);
  background-image: linear-gradient(to bottom right,#252d38, #374d6b);
  opacity: 0.95;
  transition: all 300ms linear;
}

#sidebar.active {
  left:0px;
}

#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}
#sidebar .toggle-btn span {
  display:block;
  width:20px;
  height: 2px;
  background: #2D3744;
  margin:5px 0px;
  cursor:pointer;
}


#sidebar div.list div.item a{
  display: block;
  padding:15px 10px;
  color:#ffffff;
  font-size:12px;
  text-decoration: none;
  
}

a { color: #ffffff; 
  display: block;
  padding:15px 10px;
  text-decoration: none;
} 

#sidebar div.list div.item:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}



@font-face{
  src: url(../fonts/Roboto-Regular.ttf);
  font-family: Roboto;
}

