{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_about.css" rel="stylesheet" type="text/css">
  <title>Infrastructure Health</title>
</head>


<body id="investInfra_page">
    
  <h3>A society (and the market) is an aggregation of micro and macro institutions, and hence <b>patterns.</b></h3>

  <hr>

</br>

  
  <blockquote style="text-align:center"><i>“History doesn’t repeat itself but it often rhymes.”</i>.
  </blockquote>
  <p style="text-align:center"><b>Mark Twain</b></p>

  <p>
    There are many debates about the relevance of technical analysis (TA). <br>
      <br>
    One sure thing, there is a big difference between a person pretending to be Nostradamus and a person concluding that some aggregated behaviors are predictable. <br>
    This sounds obvious, but it doesn't pretend the TA opponents to make such caricatures.
    As usual, the debate is polarized by the opponents, and as usual, things are more nuanced than what it seems first. 
    <br>
    <br>
    
    If I place fire under your hand, you will move your hand. No crystal ball.
    If Kylie Jenner posts some Mascara on Instagram, it will sell more. No crystall ball used here either.
    The thing is to get the right signal at the right moment at the right place and to use reasonable </b>assumptions</b> first.
    Pattern thinking is both admired and despised.
    I personnaly had many discussions with highly educated people in the highest financial insitutions.
    Generally, people are reluctant to technical analysis. </br>
    But being very educated never prevented them to talk before thinking. Often what separates the professional from the layman 
    is institutionnal heritage and pro. sounding words, not rationality.
    9-5 professionals keep reproducing the insitutional pattern they were thaught. Otherwise, they would risk life in a more creative fashion.
    <br>
    <br>
    As a side note, we can generally follow these principles:
    <br>

    <b>1.</b> Don't ask financial advises from people who don't risk their own money, even if they work in finance.
    <br>

    <b>2.</b> And don't ask financial advise to people who risk their own money in such a way they would avoid if they were risking other people's money. 
    <br>
    <br>
    
    Both these principles shouldn't be detached from one another.
    Majority of hedge funds get beaten by the market (they all have GMATS and come out of very pretistigous universities).
    And the vast majority of retail traders loose money.
  </br>
</br>
<b> Why do many professsionals fail? Because they often claim what <i>should be or not</i> from a mecanist point of view, with a very professoral tone, instead of concluding <u>what could probably happen</u>.</b>
</br>
</br>
  We don't pay hedge funds and strategists to give us a moralistic point of view on the economy, <i>i.e.</i> to tell us what <b>"should"</b> be the price of an 
  asset or not. This is political economy.
  We pay them to predict. Usually, they come with moralistic point of views about what is the "right" price out of frustration after they 
  failed to predict price surges 
  (and hence failed to enter in the bandwagon).
</br>
    
    Education never prevented them talking nonsense (such as defending value investing in covid times or the market efficiency hypothesis).
    The absence of evidence echoes of course with discourses that sustain failure in money management.
    This is because univerisites mainly teach hypothetico-deductive thinking, but without the elegance that a mathematican would have.
    And without remembering that the economic (and hence social) world is not lead by the same rules as atoms and gravity.
  </br>
</br>

    In this mess, what is, or are, the remaining solution(s)?
    
    <li><b>Evidence based thinking.</b> It's simple as that. But it's difficult to apply. Requires work, people don't like to work, 
      people prefer slogans over in depth analysis.</li>
    <li><b>Avoid what you learn in institutions.</b> Humans don't like to work, and hence they use institutional tools to think. 
      As the processes are preconceived.
      
    </li>

</br>
    
    For Samuel P. Huntington, <b>Institutions</b> are: 
    <blockquote style="text-align:center"><i>"stable, valued, recurring patterns of behavior"</i>.
    </blockquote>
What I said above particularly echoes to Huntington's sociological view of institutions. 
Incredible isn't it? Patterns are at the very essence of civilization and markets, because institutions are what make people understand each other...and themselves.
Institutions are what makes a society persistent and thus existing.
There is a wide range of possibilities between the simplistic linear models and total randomness. The truth often lies in nuance.
</br>
Our case is no exception I think. Patterns are indeed everywhere. The total randomness assumption is not more absurd than the mecanist one.
And to be honest, I would rather believe a person that has a mecanist point of view on the economy than a person who believes that 
the market are pure noise and randomness (eventhogught I  wouldn't trust such a person with my money either).
</br>
</br>
Institutions are our friends as they helps us yield profits (predictability). <br>
Institution is our ennemy as we shouldn't inherit from institutionnal thinking (inertia and defeat of critical mind). <br>

<br>


  </br>
</br>
 
  <b> In GTS, opinions and biases don't matter, only evidence does. When a person asserts one thing, the next sentence should be argument(s) that prove the claim.</b>
  Preferably, figures.

</p>
</br>
<blockquote style="text-align:center"><i>“We search through historical data looking for anomalous patterns that we would not expect to occur at random”</i>.
</blockquote>
<p style="text-align:center"><b>Jim Simons</b></p>
</body>


{% include "base_dashboard.html" %}

{%endblock%}