<!DOCTYPE html>
<html lang="en">


    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/style_dashboard.css" rel="stylesheet" type="text/css">
        <title>Get the signals.</title>

        </head>

<body>
    <body id="Dashboard_page">

        <div id="sidebar">
            <div class="toggle-btn" onclick="toggleSidebar(this)">
              <span></span>
              <span></span>
              <span></span>
            </div>  
            <div class="list">
              <div class="item"><a href="{{ url_for('investInfra') }}">Investment Infrastructure</a></div>
              <div class="item"><a href="{{ url_for('macroView') }}">Macro View</a></div>
              <div class="item"><a href="{{ url_for('technicals') }}">Technicals</a></div>
              <div class="item"><a href="{{ url_for('ownership') }}">Ownership</a></div>
              <div class="item"><a href="{{ url_for('rtvs') }}">RTVS detector</a></div>
              <div class="item"><a href="{{ url_for('table') }}">All Signals</a></div>
              <div class="item"><a href="{{ url_for('filtered_signals') }}">Filtered Signals</a></div>
              <div class="item"><a href="{{ url_for('table') }}">Signals: Bear Market <font color="#32CD32">
                (to come)</a></font></div>
              <div class="item"><a href="{{ url_for('portfolios') }}">Portfolios <font color="#32CD32">(to come)</font></a></div>
              <div class="item">Options Monitoring</div>
            </div>
          </div>
        
          <script type="text/javascript" src="../static/JS/dashboard.js"></script>

{% block content %}
{% endblock %}
</body>

</html>
