<!DOCTYPE html>
<html lang="en">


    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/style_dashboard.css" rel="stylesheet" type="text/css">
        <title>Get the signals.</title>
        </head>

<body>
    <body id="Dashboard_page">

        <div id="sidebar">
            <div class="toggle-btn" onclick="toggleSidebar(this)">
              <span></span>
              <span></span>
              <span></span>
            </div>  
            <div class="list">
              <div class="item">Strategy</div>
              <div class="item">Options Monitoring</div>
              <div class="item"><a href="{{ url_for('charts') }}">Stocks</a></div>
              <div class="item"><a href="{{ url_for('rtvs') }}">RTVS detector</a></div>
              <div class="item"><a href="{{ url_for('table') }}">Table</a></div>
              <div class="item"><a href="{{ url_for('infraHealth') }}">Infrastructure Health</a></div>
            </div>
          </div>
        
          <script type="text/javascript" src="../static/JS/dashboard.js"></script>

{% block content %}
{% endblock %}
</body>

</html>
