{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_charts.css" rel="stylesheet" type="text/css">
  <title>GTS-Charts</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>

<body id="Charts_page">
  <h2>Charts</h2>
 <p>Not very useful for now. Only to train to plot with plotly and to set autocomplation with HTML/Jquery.</p>
  

  <form class="form-inline" method="post" action="/submit">
    <div class="form-group mx-sm-3 mb-2">
        {{ form.stock(class="form-control")}}
    </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm</button>
  </form>


<script>
  $(function () {
      $.ajax({
          url: '{{ url_for("autocomplete") }}'
      }).done(function (data) {
          $('#stock_autocomplete').autocomplete({
              source: data,
              minLength: 2
          });
      });
  });
</script>

  <center>
    <p>
      <strong>{{tick}}</strong>
    </p>
  </center>
  
  <div class="chart" id="line">
    <script>
      var graphs = {{plot | safe}};
      Plotly.plot('line',graphs,{});
    </script>
  </div>
</body>


{% include "base_dashboard.html" %}

{%endblock%}

