{% extends "base.html" %}
{% block content %}

<!-- CREDIT: https://www.gcptutorials.com/post/creating-charts-with-bokeh-and-flask -->
<!--Flask-WTF From SQLAlchemy Queries (QuerySelectField) https://www.youtube.com/watch?v=b9W2ul2VRRc -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-tables.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container p-2"></div>
    <div class="row">
        <div class="col-sm">
            <!--LEFT-->

            <h4 class="display-4"> Macro-economic </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestiae delectus,
                quam nisi voluptatum laudantium tempore exercitationem ea est beatae itaque ut, iure officia
                cupiditate cumque ex corporis eligendi quia?</p>
        </div>

        <div class=" col-sm">
            <!--RIGHT-->


            <div style="width: 20%; display: inline-block;">

                <h1 class="display-4">Chart</h1>
                {{ plot_div|safe }}
                {{ slider_div|safe }}
                {{ script|safe }}


                <script src=" https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.js">
                </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-tables.js"></script>
            </div>

        </div>

    </div>

    <div class="row p-2">
        <div class="col-sm">
            <h4 class="display-4"> Micro-economic </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestiae delectus,
                quam nisi voluptatum laudantium tempore exercitationem ea est beatae itaque ut, iure officia
                cupiditate cumque ex corporis eligendi quia?</p>
        </div>
        <div class=" col-sm">

        </div>

    </div>
    </div>
</body>

</html>

{% endblock %}