{%extends "base.html"%}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/static/css/style_home.css" rel="stylesheet" type="text/css">
    <title>GTS-Home</title>
</head>


<body>

      <!-- HOME SECTION -->
    <header id="home-section">
        <div class="dark-overlay">

                <div class="home-inner container">

                    <div class="row">
                        <div class="col-sm">
                            <div class="card-body">
                                <h5 class=" display-4">Get the signals.</h5>

                                <p align="justify" class="lead">GTS is the interface to a back end infrastructure that continuously scans the
                                    US stock market. GTS assists to portfolio consolidation & provides automated technical analysis services.
                                </p>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="card-body text-center">
                                {% if current_user.is_authenticated %}
                                <p class="lead text-right">Hi {{current_user.username}}</p>
                                {% else %}
                                <p class="lead text-right">Please <b>login</b></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </header>
    
    <!-- Story -->
      <section id="explore-head-section">
        <div class="dark-overlay">

            <div class="container">
                <div class="row">
                    <div class="col py-5">
                        
                    </div>

                            <div class="col py-5" id="birds">
                                <p align="justify">What is it that drives a swarm of bees or a flock of birds? Who calls the shots for the next group movement among these creatures? 
                                    Is there a decision-maker or are there several of them? Is their common movement due to exogenous shocks, be it wind or noise? 
                                    Has, what is considered as exogenous, been internalized and anticipated in such a way that it can no longer be considered as so? Or is perhaps their 
                                    movement the result of frequencies that are unknown to the human kind? Finally, which is the place of chaos and order in the harmonious dance presented 
                                    by these clouds of starlings?
                                 </p>
                                </br>
                                <p align="justify">
                                    <i>"The explosion of information made possible by modern technology has intensified the need
                                        to develop methods for better analysis and interpretation of data. In addition to useful information, 
                                        the blogoshpere has also created a platform for ill-informed pseudo experts of all sorts. Bad analysis has proliferated
                                            with the ease of access to information and expanded channels for mass communication, contributing to waves of pessimism or
                                            optimism in financial markets. A misleading focus on the noise in the data to the detriment of the signal is just one example of 
                                            the pitfalls of the Information Age."
                                    </br>
                                </br>

                                            Applied Financial Macroeconomics and Investment Strategy, Robert T.McGee
                                        </i>
                                    </i>
                                </p>
                            </div>

                        </div>
                </div>
            </div>
        </div>
        
      </section>


</div>


<!-- <footer id="main-footer" class="bg-dark">

    <div class="container">
        <div class="row">
            <div class="col text-center py-1">

                <a href="https://www.linkedin.com/in/alexandre-nesovic-627004144/" target="_blank" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>

</footer>
 -->
</body>
</html>


{%endblock%}
