{%extends "base.html"%}

{% block content%}
<h1 class="display-3">S-Versus</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum odio in natus error, repellat cumque omnis
    exercitationem hic vel! Reprehenderit, expedita ab eligendi dolore eaque voluptatibus assumenda qui corporis.</p>
<div class="jumbotron">
    {% if current_user.is_authenticated %}
    <p class="lead">Hi {{current_user.username}}</p>
    {% else %}
    <p class="lead">Please login or register</p>
    {% endif %}
</div>
{%endblock%}