{%extends "base.html"%}

{% block content%}

<head>
    <link href="/static/style_home.css" rel="stylesheet" type="text/css">
    <title>GTS-Home</title>
</head>

<div class="container margin-top-10">

<body>
    <div class="row">
        <div class="col-sm">
            <div class="card-body">
                <h4 class=" display-4">Get the signals.</h4>
                <p class="lead">GTS is the interface to a back end infrastructure that continuously scans the
                    US stock market, gathering near <span style="color:aqua">real-time</span> information that is analyzed, providing daily selections of stocks to invest in.
                </p>
            </div>
        </div>

        <div class="col-sm">
            <div class="card-body text-center">
                {% if current_user.is_authenticated %}
                <p class="lead text-right">Hi {{current_user.username}}</p>
                {% else %}
                <p class="lead text-right">Please <b>login</b></p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

</body>
</div>
<footer id="main-footer" class="bg-dark">

    <div class="container">
        <div class="row">
            <div class="col text-center py-1">
                <p>Alexandre Nesovic</p>
                <p>Copyright &copy;
                    <span id="year"></span>
                </p>
                <a href="https://www.linkedin.com/in/alexandre-nesovic-627004144/" target="_blank" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>

</footer>



{%endblock%}
