{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_infraHealth.css" rel="stylesheet" type="text/css">
  <title>Infrastructure Health</title>
</head>

<body id="infraHealth_page">


  <h2>Infrastructure Health</h2>
  </br>

  <p>



  </p>


  <div class="row">
      <div class="col">
      
        <div class="card border-info mb-3">
          <div class="card-body">
              <h6 class="card-title"><strong>EoDData</strong></h4>
              <p class="card-text">
                {%if health%}
                <span class="dotGreen"></span>
                {%else%}
                <span class="dotRed"></span>
                {% endif %}

              OK
              </p>
          </div>
        </div>
      
      </div>

    <div class="col">
    
      <div class="card border-info mb-3">
        <div class="card-body">
            <h6 class="card-title"><strong>Finviz</strong></h4>
            <p class="card-text">
              <span class="dotGreen"></span>
            OK
            </p>
        </div>
      </div>
    
    </div>
    
  </div>


</div>
</body>

{% include "base_dashboard.html" %}

{%endblock%}
