{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_infraHealth.css" rel="stylesheet" type="text/css">
  <title>GTS-Table</title>
</head>

<body id="infraHealth_page">

  <div class="card text-center">
    <div class="card-header">
        My Card
    </div>
    <div class="card-body">
        <h4 class="card-title">Card Title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>
        <a class="btn btn-dark" href="#">Read More</a>
    </div>
    <div class="card-footer text-muted">
        2 Days Ago
    </div>
</div>
</body>

{% include "base_dashboard.html" %}

{%endblock%}
