{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_investInfra.css" rel="stylesheet" type="text/css">
  <title>Infrastructure Health</title>
</head>

<body id="investInfra_page">
<h2>A methodic investment infrastructure</h2>

<p>
    The investment strategy is swing trading oriented. 
    The objective is to build an infrastructure that provides indicators that are going to provide the best swing trading opportunities daily.
</p>
</body>


{% include "base_dashboard.html" %}

{%endblock%}