{%extends "base.html"%}
{% block content%}

<head>
    <link href="../static/css/style_login.css" rel="stylesheet" type="text/css">
    <title>GTS-Login</title>
</head>

<div class="container margin-top-10">
    <div class="row">
        <div class="col-sm">
                <div class="jumbotron shadow p-5 mb-5 bg-body rounded" >
                    <h2 class="display-5">Please log in to access the content</h2>

                    <form method="post">
                        {{form.hidden_tag()}}
                        {{form.email.label(class="lead")}}
                        <br>{{form.email(class="form-group")}}<br>
                        {{form.password.label(class="lead")}}<br>
                        {{form.password(class="form-group")}}<br>
                        {{form.submit(class="btn btn-primary")}}
                    </form>
                </div>
        </div>
    </div>
</div>
{%endblock%}