{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_macroView.css" rel="stylesheet" type="text/css">
  <title>GTS-Table</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>
<body id="macroView_page">

<div class="row">


      <div class="col">

      <h3> We May Not Be in a Bubble</h3>
      <p>
      I'm seeing a lot of posts comparing this to the 2000 dot-com bubble. Here's a breakdown of why we're likely not anywhere close to 2000 levels of craziness.

      <b>First:</b> During the dot-com era, the Nasdaq Composite's price-to-earnings valuation ran up as high as 200. By comparison, the index's P/E today is a relatively tame 28, 
      only modestly higher from 23 at the end of 2019.
    </br>
    </br>

    <b>Second:</b> Interest rates were a very attractive 6% which provided a strong alternative to stocks. 
      No such outlet exists today unless you trust bitcoin, or want to invest in paper gold.
    </br>
  </br>

      <b>Third:</b> Much of the value gains we're seeing in the market can be tied directly to the fact that people who invest are making similar or better money this year, 
      and spending significantly less causing them to save more and invest more:
      </br>
      https://www.nytimes.com/2021/01/01/upshot/why-markets-boomed-2020.html
    </br>
  </br>

  <b>Fourth:</b> The rest of the growth can largely be attributed to increased liquidity from all of the money printing. 
      Stocks tend to mirror an increase in the money supply with their value making them a great hedge against inflation. 
      The valuations of the 2000s weren't backstopped by QE or increased savings, making them much shakier.
    </br>
  </br>

      <b>Fifth:</b> The money printing will likely go on for a while. People mistakenly assume we're printing against our 22T dollar economy when we're really printing against 
      the 80-100T global economy for which are the reserve currency. A weak dollar benefits the global economy, and benefits us because we are the trading floor for the global economy.

      This is a long but very illuminating read on why QE is necessary and actually helpful:
      </br>
    </br>

      https://www.lynalden.com/fraying-petrodollar-system/
    </br>
    </br>

      <b>My Take:</b> There are a few stocks that are out of control with their valuations (Hi TSLA!), and a few sectors that are overvalued, 
      but overall the market looks to be on sturdy ground with the increased savings, and the increased liquidity. 
      There will be peaks and valleys, but I think there's a lot of room to grow, especially once the vaccine is widespread.
      </br>
  </br>

      <b>Source:</b> https://www.reddit.com/r/investing/comments/kpeffw/reasons_we_may_not_be_in_a_bubble/
    </br>

    </p>
    </div>

    <div class="col">
      <div class="d-flex flex-row row-hl">

      <img src="/static/fin.jpg" alt="fin" width="650" height="830">
      </div>
    </div>

  </div>

</body>
{% include "base_dashboard.html" %}

{%endblock%}

