{%extends "base.html"%}
{%block content%}

<head>
  <link href="../static/css/style_portfolios.css" rel="stylesheet" type="text/css">
  <title>GTS-Table</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

</head>

<body id="Portfolios_page">*


Choice principles:
-Signal
-Tech & small cap unload after covid spree (principle: money has to go somewhere)



</br>
"Beating the market"<=> Getting a return that is superioir than the overral incease of liquidity supply.



</body>
{% include "base_dashboard.html" %}

{%endblock%}
