{% extends "base.html" %}
{% block content %}


<head>
    <link href="/static/css/style_register.css" rel="stylesheet" type="text/css">
    <title>GTS-Registration</title>
</head>

<div class="container margin-top-10">

    <body>
        <div class="row">
                <div class="col-sm">
                    <h1>Create your GTS account </h1>
                </div>
            <div class="col-sm">
                <div class="card-body">
                    <form class=" form form-horizontal shadow p-3 mb-5 bg-body rounded" method="POST" role="form">
                        <div class="form-group">
                            {# This hidden_tag is a CSRF security feature. #}
                            {{ form.hidden_tag() }}

                            {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                {{ error }}
                                {% endfor %}
                                {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                {{ error }}
                                {% endfor %}
                                {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password(class="form-control form-control-lg",placeholder="Password") }}
                        </div>
                        <div class="form-group">
                            {{ form.pass_confirm(class="form-control form-control-lg",placeholder="Confirm Password") }}
                        </div>
                        {% if magics==True %}
                        <div class="form-group">
                            {{ formW.mW(class="form-control form-control-lg",placeholder="Magic word") }}
                        </div>
                        {% else %}
                        {{ formW.mW(class="form-control is-invalid form-control-lg",placeholder="Magic word (provided by admin.)") }}
                        <div class="invalid-feedback">
                            Please provide a valid keyword.
                          </div>
                        {% endif %}

                        
                        <div class="form-group">

                        {{ form.submit(class="btn btn-outline-dark btn-block") }}
                    </div>

                    </form>
                </div>
            </div>
        </div>

    </body>
</div>
{% endblock %}
