{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_rtvs.css" rel="stylesheet" type="text/css">
  <title>GTS-Table</title>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>
<div class="container margin-top-10">

<body id="RTVS_page">
  <h2>RTVS</h2>

  <p>The RTVS detector lists the stocks that were characterized by a sudden surge in volume or price.</p>
   

  
</body>
{% include "base_dashboard.html" %}

{%endblock%}

