{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_rtvs.css" rel="stylesheet" type="text/css">
  <title>GTS-Table</title>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>
<div class="container margin-top-10">

<body id="RTVS_page">
  <h4 class="display-4">RTVS</h1>

  <p>The RTVS detector lists the stocks that were characterized by a sudden surge in volume or price.</p>
   

  <div class="row">

    <div class="col-2">
      <input name = "text" type="text" class="form-control" placeholder="N° rows">
    </div>
    <div class="col">
      <input type="submit" class="btn  btn-dark" id="validate" value="Go!">
    </div>

  </div>

        <center><p>{{tick}}</p></center>
        <div class="chart" id="line">
            <script>
              var graphs = {{plot | safe}};
              Plotly.plot('line',graphs,{});
            </script>
  
</body>
{% include "base_dashboard.html" %}

{%endblock%}

