{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_table.css" rel="stylesheet" type="text/css">
  <title>GTS-Table</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>

<body id="Table_page">
  <h2>Signals</h2>
  <h4><strong>Trend reversal detection</strong></h4>
  <p> Filter:
<code>    df['doubleSignal'] = np.where(
  (df["Aroon Up"] > df["Aroon Down"]) & (df['positions']==1) & (df["Aroon Down"]<75) &(df["Aroon Up"]>55),
  1,0)
</code>

<div class="chart" id="line">
  <script>
    var graphs = {{plot | safe}};
    Plotly.plot('line',graphs,{});
  </script> 
  <p>
    The results are consistent with some previous analysis (not online) that showed that this strategy wins more on middle term.
    The day after the signal is generally red. At the exact moment of this signal the stock goes up, then there is a shorting phenomenon.
    Which is logical, as the signal occurs when there is also (not only, the strategy is more subtle) a surge in price. 
    Then, the trand reversal continues as expected.
  </p>
</div>
  </p>


    <form class="form" autocomplete="off" spellcheck="false" method="POST">
      <!-- <label for="name">Number of rows</label> -->
      <div class="row">

        <div class="col-2">
          <input name = "text" type="text" class="form-control" placeholder="N° rows">
        </div>
        <div class="col">
          <input type="submit" class="btn  btn-dark" id="validate" value="Go!">

        </div>

        <a href="/getCSV">
          <img alt="dl icon" src="../static/download-icon.png" width="40" height="40" >
        </a>

      </div>
    </form>
<div>
  <p style="text-align:center">

    {%if average>0%}
    <img alt="dl icon" src="../static/green-arrow.png" width="30" height="30" >
    Average overall return: {{average}} %

    {%else%}
    <img alt="dl icon" src="../static/red-arrow.png" width="30" height="30" >
    {% endif %}
  </p>

</div>



</div>





</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar" >

<table class="table table-bordered table-striped table-sm table-hover">
  <thead class="thead-dark">
    <th scope="col">ValidTick</th>
    <th scope="col">SignalDate</th>
    <th scope="col">ScanDate</th>
    <th scope="col">NScanDaysInterval</th>
    <th scope="col">PriceAtSignal</th>
    <th scope="col">Last closing price</th>
    <th scope="col">Price Evolution</th>
  </thead>
  {% for item in items %}
  <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    <td>{{ item[2] }}</td>
    <td>{{ item[3] }}</td>
    <td>{{ item[4] }}</td>
    <td>{{ item[5] }}</td>
    <td>{{ item[6] }}</td>
  </tr>
  {% endfor %}
</table>


</body>
{% include "base_dashboard.html" %}

{%endblock%}

