{%extends "base.html"%}
{%block content%}

<head>
  <link href="/static/style_table.css" rel="stylesheet" type="text/css">
  <title>GTS-Table</title>
</head>

<body id="Table_page">
  <h2>Available stocks</h2>

  <p><strong>Test page</strong>. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse sit aliquid recusandae dignissimos dolorem
    repellendus culpa ex rem cum error? Corrupti, earum. Rerum possimus consequuntur et ipsum amet dicta dolores?Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus maxime natus porro commodi provident quisquam iusto
    ut ullam possimus nihil modi, dolore nulla debitis corrupti eos laboriosam est veniam eum?</p>


    <form class="form" autocomplete="off" spellcheck="false" method="POST">
      <!-- <label for="name">Number of rows</label> -->
      <div class="row">

        <div class="col-2">
          <input name = "text" type="text" class="form-control" placeholder="N° rows">
        </div>
        <div class="col">
          <input type="submit" class="btn  btn-dark" id="validate" value="Go!">
        </div>

      </div>
    </form>

<div class="table-wrapper-scroll-y my-custom-scrollbar" >

<table class="table table-bordered table-striped table-sm table-hover">
  <thead class="thead-dark">
    <th scope="col">ValidTick</th>
    <th scope="col">SignalDate</th>
    <th scope="col">ScanDate</th>
    <th scope="col">NScanDaysInterval</th>
  </thead>
  {% for item in items %}
  <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    <td>{{ item[2] }}</td>
    <td>{{ item[3] }}</td>
  </tr>
  {% endfor %}
</table>

</body>
{% include "base_dashboard.html" %}

{%endblock%}

